.cp_header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 450px;
  height: calc(100% - 40px);
  background-color: #fff;
}

.form{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.tf_comm{
  width: 200px;
  height: 30px;
  padding-left: 12px;
  border: 1px solid #333;
  background-color: #fff;
}
.btn_reset{
  position: absolute;
  right: 9px;
  top: 9px;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  cursor: pointer;
}

/* redux test */
.number{
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.button{
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: #ccc;
  cursor: pointer;
}
.button + .button {margin-left: 3px;}