/* content 공통 */
.main {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 500px;
  height: calc(100% - 40px);
  z-index: 10;
}
.content{
  position: absolute;
  top: 0;
  left: 50px;
  width: 450px;
  min-height: 500px;
  max-height: calc(100% - 40px);
  background-color: #fff;
}

/* gnb */
.gnb {
  width: 50px;
  .btn_menu{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-right: 1px solid #16A023;
    background-color: #2CB539;
    box-sizing: border-box;
  }
  .list_gnb{
    height: calc(100% - 40px);
  }
  .list_gnb li{
    height: 50px;
  }
  .gnb_item{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    box-sizing: border-box;
  }
}


/* content - detail */
.cont_detail{
  .box_top{
    position: relative;
    height: 50px;
    background-color: #2CB539;
  }
  .ico_logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .box_img{
    overflow: hidden;
    width: 360px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }
  .box_img img{
    width: 100%;
    height: 100%;
  }
  .box_detail p{
    padding: 0 20px;
  }
  .tit_detail{
    padding: 0 20px;
    font-size: 32px;
    display: block;
  }
  .tit_info{
    padding: 0 20px;
    padding-top: 10px;
    font-size: 24px;
    display: block;
  }
  .wrap_profile{
    padding-top: 30px;
    text-align: center;
    .img_wrap{
      overflow: hidden;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 50%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .tit_profile{
      display: block;
      padding-top: 20px;
      font-size: 30px;
      line-height: 1;
    }
    .txt_profile{
      padding-top: 3px;
      font-size: 20px;
      color: #ccc;
    }
  }
  .wrap_myspace{
    padding: 0 20px;
    .tit_myspace{
      font-size: 24px;
    }
    .list_myspace{
      border: 1px solid #ccc;
      border-top: none;
      li{
        padding: 3px 0;
        font-size: 20px;
        border-top: 1px solid #ccc;
      }
      .num_g{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-right: 1px solid #eee;
        font-weight: bold;
        color: #ccc;
        text-align: center;
      }
    }
  }
  .box_foot{
    /* height: 50px; */
    padding: 20px 0 10px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
}

/* 사진 목록 */
.swiper{
  &.swiper_pictures {
    padding:10px 30px 20px;
    .swiper-slide{
      height: 120px;
      border-radius: 18px;
      background-color: #fff;
      box-sizing: border-box;
    }
    .swiper-button-next:after, 
    .swiper-button-prev:after{
      font-size: 20px;
      color: #333;
    }
    .swiper-button-prev{
      top: 48%;
      left: 0;
    }
    .swiper-button-next{
      top: 48%;
      right: 0;
    }
  }
}


/* SearchForm */
.box_form{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.tf_comm{
  width: 200px;
  height: 30px;
  padding-left: 12px;
  border: 1px solid #333;
  background-color: #fff;
}
.btn_reset{
  position: absolute;
  right: 9px;
  top: 9px;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  cursor: pointer;
}

/* icon */
.ico_logo{
  width: 120px;
}
.ico_menu{
  display: inline-block;
  width:25px;
  height: 25px;
  background-color: #fff;
}


/* Form */
.wrap_form{
  padding: 40px;
}
.tit_form{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.box_tf{
  width: 100%;
}
.box_tf + .box_tf {
  margin-top: 10px;
}
.tf_g{
  width: 100%;
  height: 40px;
  padding-left: 12px;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
}

.wrap_btn{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #ccc;
}
.btn{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  /* font-size: 12px; */
  background-color: #ccc;
}
.btn + .btn {
  margin-top: 10px;
}
















/* redux test */
.number{
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.button{
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: #ccc;
  cursor: pointer;
}
.button + .button {margin-left: 3px;}